* {
    all: unset;
    font-family: monospace;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    color:#96cdfb ;
    margin-top: 10px;
}

/* Workspaces */
#workspaces {
    background-color: rgba(0, 0, 0, 0);
    padding: 0 0.5rem;
}

#workspaces button {
    color: #96cdfb;
    padding: 0 0.55rem;
    border-radius: 1rem;
    transition: all 0.3s;
}

#workspaces button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Modules */
#clock, #battery, #cpu, #memory, #backlight, 
#network, #pulseaudio, #language, #custom-archlogo {
    background-color: rgba(0, 0, 0, 0);
    color: #96cdfb;
    padding: 0 0.8rem;
    margin: 0 0.1rem;
}

tooltip {
    border: 2px solid #96cdfb;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.5rem 1rem;
    border-radius: 10px 3px 10px 3px;
    color: #96cdfb;
}

/* Active states */
#battery.charging {
    color: #00ff80;
}

#battery.critical:not(.charging) {
    color: #ff0000;
}

#battery.warning:not(.charging) {
    color: #ffb000;
}

#network.disconnected {
    color: #ff0000;
}

/* Clock */
#clock {
    font-size: 1.1rem;
    margin-right: 0.5rem;
}

/* Separator */
.middle-separator {
    background-color: gray;
    padding: 0 0.03rem;
}

/* Window module */
#window {
    background-color: rgba(0, 0, 0, 0);
    color: #96cdfb;
    padding: 0 1rem;
}

window#waybar.empty #window {
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    margin: 0;
    border: none;
}
